.navbar-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    transition: none;
    cursor: default;
}

.carousel {
    max-width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.carousel-item img {
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.carousel-caption h3, .carousel-caption h5 {
    color: white;
}

.scroll-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f8f9fa;
    height: 100vh;
    overflow: hidden;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.scroll-section .content {
    display: flex;
    align-items: center;
    gap: 40px; /* Aumenta la distancia entre la imagen y el texto */
}

.scroll-section img {
    width: 150px;
    transition: transform 1s ease-in-out, box-shadow 1s ease-in-out;
    z-index: 1;
    mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    border-radius: 10px; /* Redondea un poco las imágenes */
}

.scroll-section h2 {
    position: relative;
    z-index: 2;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.scroll-section.in-view img {
    transform: scale(1.5);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.7);
}

.scroll-section.in-view h2 {
    opacity: 1;
    transform: scale(1);
}

.scroll-section-2 {
    background-color: #e9ecef;
}

.footer {
    background-color: #003366;
    padding: 15px;
    text-align: center;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #ffffff;
    z-index: 10;
    height: 50px;
}
.footer a {
    color: #66ccff;
    text-decoration: none;
    margin: 0 15px;
}
.footer a:hover {
    text-decoration: underline;
}

.hero-banner {
    background: linear-gradient(to right, #003366, #66ccff);
    color: white;
    text-align: center;
    padding: 50px 20px;
    margin-top: 20px; /* Asegura que no esté pegado a la navbar */
}

.hero-content h1 {
    font-size: 3rem; /* Tamaño grande para captar la atención */
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.25rem; /* Tamaño de texto atractivo pero legible */
    margin-bottom: 30px;
}

.hero-content .btn {
    font-size: 1.25rem;
    padding: 10px 20px;
    border-radius: 5px;
}

